:root {
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background: url('../src/images/bg.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.alert {
  opacity: 0.9;
  height: 50px;
  text-align: center;
  margin: 0px 20px 20px 0px;
  padding: 14px 0px 10px 20px;
}

.alert-primary {
  background: var(--primary-color);
  color: #fff;
}
.alert-light {
  background: var(--light-color);
  color: #333;
}

.alert-danger {
  background: var(--danger-color);
  color: white;
}
